* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

.conteiner {
  width: 1330px;
  background-color: aqua;
  display: flex;
}

.buttons {
  display: flex;
}

.buttons * + * {
  margin-left: 10px;
}

.buttons__btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  color: black;
  min-width: 120px;
  min-height: 45px;
  flex-wrap: nowrap;
  text-align: center;
  text-decoration: none;
  background-color: white;
}

.buttons__btn:hover {
  text-decoration: underline
}

.buttons__btn-orange {
  background-color: #FF6336;
  color: white;
  border: 0;
}

/* header  */
.header__background {
  background-color: rgb(105, 65, 65);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(190, 190, 190);
}


.header_conteiner {
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.header__items {
  background-color: bisque;
  display: flex;
  align-items: center;
}

.header__menu {
  font-size: 0;
  padding: 0;
  border: 1px  solid red;
  margin-right: 348px;
  margin-left: 51px;
  display: flex;
  flex-wrap: nowrap;
}

.header__menu-item {
  display: inline-block;
  margin-right: 42px;
}

.header__menu-item a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: black;
  border: 1px solid red;
  white-space: nowrap;
}

.header__menu-item:hover a {
  text-decoration: underline;
}


/* main  */

/* title */
.title {
  background-color: rgb(105, 65, 65);
  display: flex;
  justify-content: center;
}

.title__conteiner {
  justify-content: space-between;
  align-items: center;
  padding: 97px 0 182px;
}

.title__text {
  border: 1px solid red;
  padding-left: 20px;
}

.title__text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  margin: 0 0 51px;
}

.title__text-primary {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  margin: 0 0 50px;
}

.title__text-secondary {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin: 25px 0 0;
}

.title__img img {
  width: 759px;
  height: 529px;
  border: 1px solid red;
  padding-right: 12px;
}

.title__text .buttons__btn-orange {
  order: -1 ;
  margin: 0 10px 0 0;
}

.title__text .buttons__btn {
  min-width: 180px;
  min-height: 60px;
  padding: 5px;
}

/* logos */
.logos {
  background-color: #FF9C7D;
  display: flex;
  justify-content: center;
}

.logos__conteiner {
  display: block;
  padding: 106px 0;
}

.logos__text {
  border: 1px solid red;
  margin-bottom: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: black;
  text-align: center;
  padding: 0 250px;

}

.logos__logo {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  align-items: center;
  padding: 0 44px;
}

/* cards */
.cards {
  background-color: rgb(105, 65, 65);
  display: flex;
  justify-content: center;
  
}

.cards__conteiner {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 50%);
  padding: 100px 20px 95px;
  row-gap: 250px;
}

.cards__item {
  background-color: rgb(139, 103, 55);
  border: 1px solid red;
  align-self: center;
  /* justify-self: center; */
  
}

.cards__item-rigtht {
  justify-self: end;
}

.cards__item-left {
  justify-self: start;
}

.cards__item-text_rigth {
  padding: 0 0 0 150px;
}

.cards__item-text_left {
  padding: 0 150px 0 0;
}

.cards__item h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: black;
}

.cards__item-text_primary {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: black;
}

.cards__item-text_secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: black;
}

/* footer */